#cabecario {
    background-color: #dadada;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-align: right;
}

#cabecario li{
    display: inline-block;
    padding: 10px;
    font-size: 1.1vw;
    cursor: pointer;
}
#cabecario li:hover{
    background-color: whitesmoke;
}
#cabecario img{
    width: 1.2vw;
    height: 1.2w;
}
#cinza{
    color: #dadada;
}



.menu {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    max-height: 50px;
    min-height: none;
    height: auto;
    text-align: center;
}
.menu li:hover{
    background-color: #4441DF;
    color: white;
}
.menu li{
    display: inline-block;
    padding: 2vw;
    font-size: 1.4vw;
    cursor: pointer;
}
.menu img{
    padding: 0px;
    width: 6%;
    float: left;
}

#saite{
    margin-top: 1.5%;
    width: 15.5vw;
}


.noticias{
    background-color: #444df1;
    position: relative;
    margin-top: 2.3%;
    margin-bottom: 0.5%;
}

h1 img{
    opacity: 0.23;
    width: 100%;
    height: 100%;
}

h1 span{
    font-size: 40px;
    color: white;
}

.textnoticia{
    position: absolute;
}

#text1{
    color: white;
    font-size: 5vw;
    position: absolute;
    left: 15%;
    margin-top: 15vw;
}

#text2{
    color: white;
    position: absolute;
    float: right;
    font-size: 50%;
    font-size: 1.7vw;
    left: 50%;
    right: 10%;
    margin-top: 20vw;
}
#saibamais{
    color: white;
    background-color: #f51051;
    text-align: center;
    position: absolute;
    float: right;
    font-size: 50%;
    font-size: 1.7vw;
    left: 55%;
    right: 15%;
    margin-top: 27vw;
    border-radius: 8%;
    cursor: pointer;
    
}


.menu2{
    min-width: 100%;
    height: 110%;
    display: inline;
    cursor: pointer;
}
.menu2 #coluna33:hover{
    background-color: #b6eaff;
}
#quadrado{
    width: 50px;
    height: 50px;
    background-color: #f51051;
    float: left;
}


#coluna33{
    width: 33%;
    padding: 1%;
    float: left;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(128, 128, 128, .7);
    height: 75px;
}
.coluna30{
    width: 30%;
    float: left;
    text-align: center;
}
.coluna65{
    margin-top: 25px;
    width: 65%;
    float: right;
    text-align: center;
}
.coluna25{
    width: 25%;
    float: left;
    text-align: center;
}


h2.projetos{
    background-color: black;
    height: 400px;
    display: inline;
    

}
.projetos #div1projeto{
    background-color: #444df1;
    font-size: larger;
    color: white;
    text-align: center;
    max-width: 200px;
    width: auto;
    height: 240px;
    margin-top: 100px;
    margin-left: 15px;
}

#nossosprojetos{
    position:absolute;
    width: 100px;
    margin-left: 50px;
    margin-top: 80px;
}



#numeros{
    background-color:#E7F6FC;
    color: black;
    text-align: center;
    font-size: xx-large;
    height: 200px;
    margin:50px 0px;
}
.bola1 {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 2px solid #f51051;
    background-color: #444df1;
    align-items: center;
    margin-top: 15px;
}
.bola2 {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 2px solid #444df1;
    background-color: #f51051;
    align-items: center;
    margin-top: 15px;
}


#descricao_equipe{
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
    color: black;
}
#equipe{
    background-color:#444df1;
    color: white;
    text-align: center;
    font-size: xx-large;
    height: 80px;
    margin:50px 0px;
}
#equipe .coluna25{
    background-color: #e7f6fc;
    margin: 0% 3%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
		-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
		box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
	
}


#imgequipe{
    margin: 4% 10%;
    height: 100px;
    border: 1px solid black;
    padding: 20px;
}



#fale-conosco{
    margin-top: 21%;
    background-color: #e7f6fc;
    font-size: xx-large;
    text-align: center;
    height: 27vw;
}
#text3{
    position: absolute;
    background-color: #e7f6fc;
    float: right;
    font-size: 1.2vw;
    left: 10%;
    right: 60%;
    margin-top: 5%;
}
#ligar{
    background-color: #f51051;
    color: white;
    text-align: center;
    position: absolute;
    float: right;
    font-size: 50%;
    font-size: 1.8vw;
    left: 10%;
    right: 60%;
    margin-top: 15%;
    cursor: pointer;
}
#mensagem{
    background-color: #444df1;
    color: white;
    text-align: center;
    position: absolute;
    float: right;
    font-size: 50%;
    font-size: 1.8vw;
    left: 10%;
    right: 60%;
    margin-top: 18%;
    cursor: pointer;
}
#mapa{
    position:absolute;
    width: 35vw;
    height: 18vw;
    background-color: white;
    right: 11%;
    margin-top: 2%;
}

#paceiros{
    background-color: white;
    text-align: center;
    margin: 5% 0% 2% 0%;
    font-size: xx-large;
}
#botaovoltar{
    text-align: right;
    margin-right: 10px;
}
#botaovoltar img{
    width: 35px;
    bottom: 0px;
    cursor: pointer;
}

.vazia{
    background-color: #444df1;
    height: 150px;
}


#rodape{
    max-height: 50px;
    min-height: none;
    height: auto;
    background-color: #dadada;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    text-align: center;
}
#rodape li{
    display: inline-block;
    padding: 10px;
    font-size: 1.4vw;
    cursor: pointer;
}

#rodape li:hover{
    background-color: whitesmoke;
}